*{
    transition: all 500ms ease;
}
/*IMAGE GALLERY IN FAVORITES SECTION*/
@media only screen and (max-width: 700px) {
    .card {
      width: 49.99999%;
      margin: 6px 0;
    }
    .Yokaiicard {
        width: 49.99999%;
        margin: 6px 0;
      }
  }
  
  @media only screen and (max-width: 500px) {
    .card{
      width: 100%;
    }
    .Yokaiicard{
        width: 100%;
      }
  }

/*FOR BANNER RESPONSIVENESS*/
@media(max-width:515px){
    .banner{
        background: url(Images/phone.png) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
    .Yokaiibanner{
        background: url(Images/YokaiiBannerMobile.png) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
}

/*FOR NAVBAR RESPONSIVENESS*/
@media(max-width:660px){
    .container {
        flex-direction: column;
    }
    .menu-list {
        margin-top: 20px;
    }
    .menu-list li {
        margin: 10px 0;
    }
    body.disabledScroll{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position:fixed;
        display: none;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 50%;
        max-width: 400px;
        background: #e5babf;
        display: block;
        padding:40px 0;
        text-align: center;
        transition: all 0,3s ease;
    }
    .navbar .menu-list.active{
        left:0%
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
    }

    /* - - - - - - - */
    #Yokaiinavbar .menu-list {
        margin-top: 20px;
    }
    #Yokaiimenu-list li {
        margin: 10px 0;
    }
    #Yokaiinavbar .Yokaiimenu-list{
        position:fixed;
        display: none;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 50%;
        max-width: 400px;
        background: #e5babf;
        display: block;
        padding:40px 0;
        text-align: center;
        transition: all 0,3s ease;
    }
    #Yokaiinavbar .menu-list.active{
        left:0%
    }
    #Yokaiinavbar .menu-list li {
        margin-top: 45px;
    }
    #Yokaiinavbar .menu-list li a{
        font-size: 23px;
    }
   
    #Yokaiinavbar .menu-list{
        position:fixed;
        display: none;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 50%;
        max-width: 400px;
        background: #292829;
        display: block;
        padding:40px 0;
        text-align: center;
        transition: all 0,3s ease;
    }

}

/*FOR EXTRA SMALL SCREENS*/
@media(min-width:200px){
    .interest .subtitle{
        font-size: 20px;}
    .hobbies .subtitle {
        font-size: 20px;} 
    
        /* - - - - - - - - */
    .Yokaiiinterest .subtitle{
        font-size: 20px;}
    .Yokaiihobbies .subtitle {
        font-size: 20px;} 
}

@media(min-width:320px){
    .interest .subtitle{
        font-size: 30px;
    }
    .hobbies .subtitle {
        font-size: 30px;
    }
    
    .hobb-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    }
    .hobb {
        max-width: 100%; 
        width: 100%;
    }
    .layer {
        font-size: 5px; 
    }
    .layer h2 {
        font-size: 20px; 
        margin-bottom: 0px;
    }
    .layer p {
        font-size: 10px; 
    }
    .layer a {
        margin-top: 0;
        font-size: 10px; 
        line-height: 30px;
        width: 30px;
        height: 30px;
    }
    /* - - - - - - */
    .Yokaiihobbies .subtitle {
        font-size: 30px;
    }
    .Yokaiiinterest .subtitle{
        font-size: 30px;
    }
}

/*FOR EXTRA SMALL SCREENS*/
@media(min-width:425px){
    .interest .subtitle{
        font-size: 40px;
    }
    /*div.scroll-container {
        flex-direction: column; 
        white-space: normal; 
      }
    div.scroll-container img {
        width: 100%; 
        max-width: none; 
        height: auto; 
    }*/
    .hobbies .subtitle {
        font-size:40px;
    }
    .hobb-list {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    }
    .layer h2 {
        font-size: 20px; 
        margin-bottom: 0px;
    }
    .layer p {
        font-size: 12px; 
    }
    .layer a {
        margin-top: 0;
        font-size: 16px; 
        line-height: 30px;
        width: 30px;
        height: 30px;
    }

    /* - - - - - -- - - - - - */
    .Yokaiiinterest .subtitle{
        font-size: 40px;
    }
    .Yokaiihobbies .subtitle {
        font-size:40px;
    }
    
}


/*FOR SMALL SCREENS*/
@media(min-width:640px){
    .interest .subtitle{
        font-size: 50px;
    }
    .hobbies .subtitle {
        font-size: 50px; 
    }
    .hobb-list {
        grid-template-columns: repeat(auto-fill, minmax(240px, 2fr)); 
    }

    /* - - - - - - - - - - */
    .Yokaiiinterest .subtitle{
        font-size: 50px;
    }
    .Yokaiihobbies .subtitle {
        font-size: 50px; 
    }
    
}

/*IMAGE GALLERY RESPONSIVENESS*/
@media(max-width:735px){
    div.scroll-container {
        flex-direction: column; 
        white-space: normal; 
      }
    div.scroll-container img {
        width: 100%; 
        max-width: none; 
        height: auto; 
    }
    .hobb-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)); 
    }
}

/*FOR MEDIUM SCREENS*/
@media(min-width:940px){
    .hobb-list {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    }
    
}

/*FOR LARGE SCREENS*/
@media(min-width:1024px){
    .navbar .logo a{
        font-size: 50px;
        font-weight: 700;
    }
    .menu-list li a{
        font-size: 25px;
    }    
    .interest .subtitle{
        font-size: 60px;
    }
    .hobbies .subtitle{
        font-size: 60px;
    }
    .hobb-list {
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr)); 
    }
    .layer h2 {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 20px;
        color: black;
        font-family: 'Bebas Neue', sans-serif;
    }
    .layer p {
        color: #ba4855;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Gabriela', serif;
        font-size: 15px;
    }
    .layer a {
        margin-top: 20px;
        color: #82313b;
        text-decoration: none;
        font-size: 20px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }
    .MainPageBG{
        background-image: url("Images/HP\ BG.png") ;
    }

    /* - - - - - - - - - - - - */ 
    .Yokaiinavbar .logo a{
        font-size: 50px;
        font-weight: 700;
    }
    .Yokaiimenu-list li a{
        font-size: 25px;
    }    
    .Yokaiiinterest .subtitle{
        font-size: 60px;
    }
    .Yokaiihobbies .subtitle{
        font-size: 60px;
    }
}

/*FOR EXTRA LARGE SCREENS*/
@media(min-width:1280px){
    .menu-list li a{
        font-size: 30px;
    }
    .interest .subtitle{
        font-size: 70px;
        font-weight: 800;
    }
    .hobbies .subtitle{
        font-size: 70px;
        font-weight: 800;
    }
    .hobb-list {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); 
    }
    
    .layer h2 {
        font-weight: 500;
        font-size: 35px;
        margin-bottom: 20px;
        color: black;
        font-family: 'Bebas Neue', sans-serif;
    }
    
    .layer p {
        color: #ba4855;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Gabriela', serif;
        font-size: 18px;
    }
    
    .layer a {
        margin-top: 20px;
        color: #82313b;
        text-decoration: none;
        font-size: 20px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }
    /* - - - - - - - - - - - - - */
    .Yokaiimenu-list li a{
        font-size: 30px;
    }
    .Yokaiiinterest .subtitle{
        font-size: 70px;
        font-weight: 800;
    }
    .Yokaiihobbies .subtitle{
        font-size: 70px;
        font-weight: 800;
    }
    
}

*{
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity:0;
        transform: rotatey(-20deg);

    }
    to{
        opacity:1;
        transform:rotatey(0);
    }
}

/* Mobile Screen Display */
@media only screen and (min-width: 51px) and (max-width:600px ){
    .index{
        background-image: url("Images/PhoneMainPage.png");
        background-repeat: no-repeat;
    }
    .MainButtons{
        bottom:10vh;
    }



}

/* Tablet Display */
@media only screen and (min-width: 601px) and (max-width:1279px ){
    .index{
        background-image: url("Images/TabletMainPage.png");
        
    }
    .MainButtons{
        bottom: 15vh;
    }
}

@media only screen and (min-width: 1280px) {
    .index{
        background-image: url("Images/ScreenMainPage.png");
        background-repeat: no-repeat;
    }
    .MainButtons{
        left: 50vh;
    }
}
